$blue-1: #a5c7ff;
$blue-2: #1e90ff;
$blue-3: #027ffc; // button hover style
$blue-4: #0074e9; // button active style

// transparents from more to less
$transparent-1: #00000009;
$transparent-2: #00000016;
$transparent-3: #00000033;
$transparent-4: #00000066;

// border
$border-radius-default: 6px;
