@import '_presets.scss';

html,
body,
.root {
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  margin: 0;
  padding: 0;
}

.app-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  height: 600px;
  top: 50%;
  transform: translateY(-50%);

  @media screen and (max-width: $mobile) {
    top: 0;
    transform: none;
    height: 100%;
  }
}

.hidden {
  display: none;
}

@import 'buttons.scss';
@import 'progressBar.scss';
@import 'loading.scss';
@import 'mobileSteps.scss';
@import 'steps.scss';
