@import './_presets.scss';

.button {
  display: inline-block;
  position: relative;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: $border-radius-default;
  box-shadow: none;
  text-decoration: none;
  -webkit-appearance: none;
  cursor: pointer;
  font-family: inherit;
  transition: all ease-in-out 0.1s;
  padding: 0.8em 1.5em;
  font-size: 0.8em;

  &.primary {
    background-color: $blue-2;
    border-color: $blue-2;
    color: #fff;

    &:hover {
      background-color: $blue-3;
      border-color: $blue-3;
    }

    &:active {
      background-color: $blue-4;
      border-color: $blue-4;
    }
  }

  &.secondary {
    border-color: $transparent-1;
    color: black;
    background-color: $transparent-1;

    &:hover {
      background-color: $transparent-2;
    }

    &:active {
      background-color: $transparent-3;
    }
  }

  &:disabled {
    border-color: transparent;
    background-color: $transparent-1;
    color: $transparent-2;

    &:hover,
    &:active {
      border-color: transparent;
      background-color: $transparent-1;
      color: $transparent-2;
    }
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 3pt $blue-1;
  }
}
