@import '_presets.scss';

.image-placeholder {
  width: 281px;
  height: 100%;
  border-radius: 1em;
  background: linear-gradient(315deg, transparent, $transparent-2);
  background-size: 400% 400%;

  -webkit-animation: gradient 1.5s ease infinite;
  -moz-animation: gradient 1.5s ease infinite;
  animation: gradient 1.5s ease infinite;

  @media screen and (max-width: $mobile) {
    width: 50%;
    max-width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@-moz-keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
